<%= link_to("<< Back to List", {action: 'index'}, :class => 'back-link') %>

<div class="admin_user new">
  <h2>Edit User</h2>

  <%= form_for(:admin_user, :url => {action: 'update', id: @admin_user}) do |f| %>

    <%= render(partial: "form", locals: {f: f}) %>

    <div class="form-buttons">
      <%= submit_tag("Edit User") %>
    </div>

  <% end %>
</div>